.App {
  text-align: center;
  padding: 20px;
}

.planet-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  max-width: 400px;
}

.pagination {
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
}

button:hover {
  background-color: #0056b3;
}
